<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Whatsapp</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    ol li {
        font-size: 15px;
        margin-top: 5px;
    }
</style>

<body>
    <div
        style="width: 100%; background-color: rgba(2, 2, 2, 0.068); display: flex; align-items: center; justify-content: center;">
        <div style="width: 600px; margin-top: 30px;">
            <div style="background-color: #51A985; padding: 20px;">
                <h2 style="color: white; text-align: center;">Welcome To Whatsapp</h2>
            </div>
            <div style="background-color: white;">
                <div style="padding: 20px;">
                    <h4>Welcome to whatsapp! 🎉 We are thrilled to have you join our community of chat enthusiasts and
                        connect with like-minded individuals from around the globe.</h4>
                    <p style="margin-top: 15px;">At Whatsapp, we believe in the power of conversation to bridge gaps,
                        foster understanding, and create meaningful connections. Whether you're here to meet new
                        friends, discuss shared interests, or seek support and advice, our platform is designed to be a
                        safe and inclusive space for all.</p>
                    <p style="margin-top: 15px;">Here are a few ways you can make the most out of your time on Whatsapp:
                    </p>
                    <ol style="margin-top: 15px; padding-left: 30px;">
                        <li>
                            Explore and Discover: Dive into our diverse range of chat rooms and explore topics that
                            pique your interest. From hobbies and passions to current events and discussions, there's
                            something for everyone.
                        </li>
                        <li>
                            Engage and Connect: Strike up conversations, share your thoughts, and connect with fellow
                            members. Whether it's a casual chat or a deep discussion, every interaction has the
                            potential to create meaningful connections.
                        </li>
                        <li>
                            Respect and Empathy: Treat others with kindness, respect, and empathy. We value diversity
                            and inclusivity, and we encourage you to embrace different perspectives and experiences.
                        </li>
                        <li>
                            Stay Safe and Secure: Your privacy and safety are our top priorities. We have implemented
                            robust measures to ensure a secure environment for all our users. If you ever encounter any
                            issues or have concerns, don't hesitate to reach out to our support team.
                        </li>
                    </ol>
                    <p style="margin-top: 15px;">Once again, welcome to Whatsapp! We're honored to have you with us, and
                        we look forward to chatting, sharing, and connecting with you.</p>
                    <p style="margin-top: 15px;">If you have any questions, feedback, or just want to say hello, feel
                        free to reach out to us anytime.</p>
                    <p style="margin-top: 20px;">Warm regards,</p>
                </div>
                <div style="background-color: #51A985; padding: 20px; color: white;">
                    <h4>Hamza Ilyas</h4>
                    <p style="margin-top: 5px; font-size: 13px;">MERN Stack Developer</p>
                    <p style="margin-top: 5px; font-size: 13px;">Whatsapp</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>